:root {
    --pirimary-color: whitesmoke;
}
body {
    font-family: Noto Sans JP;
    color: var(--pirimary-color);
    background-color: black;
    padding-left: 4rem;
    padding-right: 4rem;
}

header {
    margin-bottom: 5rem;
    border-bottom: solid 1px #444;
}

header a {
    text-decoration: none;
    color: var(--pirimary-color);
}

.header-left {
    text-align: left;
}
.header-right {
    display: flex;
    justify-content: flex-end;
}
.header-right a {
    padding: 1rem;
}

.text-center {
    text-align: center;
}

.no-text-decoration {
    text-decoration: none;
    color: var(--pirimary-color);
}

article {
    border-bottom: solid 1px #222;
}